VITE_SUPABASE_URL=https://fxdmgstxnadyuiggndwk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4ZG1nc3R4bmFkeXVpZ2duZHdrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MDI0MzMsImV4cCI6MjEwNjA3ODQzM30.ifPRuY7W-MGXX1yw_UlBKjREbgJhQ8j0ZBoWHp6UM-0
VITE_MAX_IMAGE_MB=5
VITE_MAX_VIDEO_MB=5
VITE_INBOX_USERNAME=admin
VITE_WEB_PUSH_PUBLIC_KEY=BJAPjyqEXDa0rXasoI6zgxNZvnGiaXxIQQsowHYhtICks8HHqxYjy54gcO3uRCGffDXAkeL80HVUbDS7yaiXogU
